.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.select {
  padding: 10px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
}

.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  background-color: #fff;
}

.card-content {
  padding: 15px;
}

.card-title {
  font-size: 1.2rem;
  margin: 10px 0;
  color: #333;
}

.card-text {
  color: #555;
}

.card-price {
  font-weight: bold;
  color: #27ae60;
}

.card-rating {
  color: #f39c12;
}

.image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card:hover {
  transform: scale(1.03);
}

.reserve-button {
  background-color: #ff5a5f;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  transition: background 0.3s ease-in-out;
}

.reserve-button:hover {
  background-color: #e04e53;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.select,
.search-input {
  padding: 10px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 45%;
}
